# 2.1
구구단 6단을 계산하여 결과를 순서대로 출력하는 코드를 for 문을 이용하여 구현하라.

In [13]:
def mul(n):
    
    for i in range(1,10):
        print(n,' * ',i,' = ', n*i)

In [14]:
mul(6)

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

# 2.2
위 문제를 while 문을 이용하여 다시 구현하라

In [23]:
def mul(n):
    i=1
    while i<10:
        print(n,' * ',i,' = ',n*i)
        i=i+1

In [24]:
mul(6)

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

# 2.3
구구단 6단을 계산 결과를 역순으로 출력하는 코드를 for와 range를 이용하여 구현하라.

In [29]:
def mul(n):
    
    for i in range(9,0,-1):
        print(n,' * ',i,' = ', n*i)

In [30]:
mul(6)

6  *  9  =  54
6  *  8  =  48
6  *  7  =  42
6  *  6  =  36
6  *  5  =  30
6  *  4  =  24
6  *  3  =  18
6  *  2  =  12
6  *  1  =  6

# 2.4
섭씨온도를 화씨온도로 변환하는 함수를 구현하라. 섭씨온도(C)를 화씨온도(F)로 변환하는 수식은 F=32+180/100+C 이다.

In [33]:
def trans(c):
    F=32+(180/100*c)
    return F

In [34]:
print(trans(30))

86.0

In [ ]:
def trans(c):
    F=32+(180/100*c)
    return F

# 2.6
A=[1,2,3,4]와 같이 리스트를 선언하고 이 시스트의 모든 값을 역순으로 출력하는 코드를 구현하라. 단, 인덱스 값으로는 음수만을 사용하라.

In [36]:
A=[1,2,3,4]
A[::-1]

[4, 3, 2, 1]

# 2.7
리스트의 모든 값을 더해 결과를 반환하는 함수를 구현하라

In [39]:
A=[1,2,3,4,5,6,7,8,9]

def sumation(n):
    sum=0
    for i in range(len(n)):
        sum=sum+n[i]
    return sum

print(sumation(A))

45

# 2.8
문자열 msg = "Data Structures in Python"를 선언하고, 이 문자열을 먼저 그대로 출력하고, 다음으로 모두 대문자로 바꿔서 출력하고, 마지막으로 모두 소문자로 바꿔 출력하는 코드를 작성하라.

In [40]:
msg="Data Structures in Python"

print(msg)
print(msg.upper())
print(msg.lower())

Data Structures in Python
DATA STRUCTURES IN PYTHON
data structures in python

# 2.9
어느 식당의 음식에 대한 가격 정보를 다음과 같이 딕셔너리로 표현하자.  
price={'콩나물해장국':4500, '갈비탕':9000, '돈가스':8000}    
여기에 새로운 메뉴 '팟타이'를 7000원에 추가하고, 모든 메뉴와 가격을 출력하는 코드를 작성해 보라

In [59]:
price={'콩나물해장국':4500,'갈비탕':9000,'돈가스':8000}
price['팟타이']=7000

In [60]:
print(price)

{'콩나물해장국': 4500, '갈비탕': 9000, '돈가스': 8000, '팟타이': 7000}

# 2.10
위 문제에서 모든 메뉴의 가격을 500원 내리는 코드를 작성해 보라.

In [61]:
for i in price:
    price[i]=price[i]-500

In [63]:
price

{'콩나물해장국': 4000, '갈비탕': 8500, '돈가스': 7500, '팟타이': 6500}

여기서 꼭 i는 상수이란 생각을 없애자 for 문에서 i는 문자도 될 수 있다.

# 2.11
1부터 n까지의 숫자를 전부 합하여 반환하는 순환적인 함수를 작성하라.

In [71]:
def sum(n):
    if(n==1):
        return 1
    else:
        return n+sum(n-1)

In [72]:
sum(10)

55

# 2.12
다음을 계산하는 순환적인 함수를 작성하라.  
1+1/2+1/3+...+1/n

In [73]:
def f1(n):
    if n==1:
        return 1
    else:
        return 1/n+f1(n-1)

In [74]:
print(f1(10))

2.9289682539682538

# 2.13
이항계수(binomial coefficient)를 계산하는 순환함수를 작성하라. 이항계수는 다음과 같이 순환적으로 정의된다. 
https://blockdmask.tistory.com/93

In [75]:
def bc(n,r):
    if(n==r or r==0):
        return 1
    return bc(n-1,r-1)+bc(n-1,r)

In [76]:
print(bc(30,10))

30045015

# 2.14
이항계수를 구하는 함수를 반복 구조로 구현하라.

In [89]:
def fac(num):
    if(num==0):
        return 1
    result=1
    
    for i in range(num,0,-1):
        result=result*i
    return result

In [91]:
solution=fac(30)/(fac(10)*fac(30-10))
print(solution)

30045015.0

# 2.15
문자열의 내용을 반대로 바꾸는 순환적인 함수 reverse()를 구현하라. 예를 들어 reverse("ABCDE")는 "EDCBA"를 반환해야한다.

In [93]:
s='ABCDE'
print(s)

ABCDE

In [95]:
s[::-1]

'EDCBA'

In [110]:
def reverseText(a,i):
    if i>=len(a):
        return
    
    reverseText(a,i+1)
    print(a[i],end='')

In [111]:
a='ABCDE'
reverseText(a,0)

EDCBA

# 2.16
순환을 사용하여 1부터 n까지의 숫자를 화면에 순서대로 출력하는 함수 printNum(n)과 역순으로 출력하는 함수 printRevNum(n)을 작성하라 다음은 각각 printNum(10)과 printRevNum(10)의 출력 결과이다.

1 2 3 4 5 6 7 8 9 10    
10 9 8 7 6 5 4 3 2 1

In [121]:
def printRevNum(a):
    if i>=a:
        return
    
    printRevNum(a,i+1)
    print(a+i,end='')

In [122]:
printRevNum(10,0)

19181716151413121110

# ~2.16~

# ~2.17~

# p2.1
다음은 근로세득세율 표을 보여주고 있다. 소득을 입력하면 세금을 계산하고 세금과 세후 소득을 출력하는 프로그램을 작성하라. 수입이 조금이라도 많으면 세금은 세후 소득이 더 많아야 한다. 예를 들어, 소득이 2000만원이라면 1200만원까지는 6%를 내고, 다음 구간(1200만원~4600만원)에 포함되는 800만원에 대해서는 15%를 내야하므로 전체 세금은 1200X6%+800+15%이다.

In [4]:
income=int(input("소득을 입력하세요"))

if income <=1200:
    print(income * 0.06)
elif income<=4600:
    print(1200 * .06 + (income -1200)*.15)
elif income<=8800:
    print(1200 * .06 + 3400*.15 + (income-4600)*.24)
elif income<=15000:
    print(1200 * .06 + 3400*.15 + 4200*.24) + (income-8800)*.35
else:
    print(1200 * .06 + 3400*.15 + 4200*.24 + 6200*.35+(income-15000)*.35)

소득을 입력하세요20000
5510.0

# P2.2
번호 맞히기 게임(Up-and-Down 게임)을 구현하자. 숨겨진 두 자리의 숫자를 추측하여 맞추는 것이다. 게이머가 숫자를 예측하면 컴퓨터는 정답과 비교하여 "더 큰 숫자입니다"나 "더 작은 숫자입니다" 그리고 맞힌 경우 "정답입니다"를 출력한다. 중간에 맞히거나 10번 동안 맞히지 못하면 게임이 끝난다.

In [ ]:
answer=67
guess=input("숫자를 입력하세요(범위:0~99)")
for i in range(1,11,1):   
    if answer==guess:
        print("정답입니다.",i,"번 만에 맞추셨습니다.")
    elif answer>guess:
        print("아닙니다. 더 큰 숫자입니다.")
    else:
        print("아닙니다. 더 작은 숫자입니다.")
    guess=input("숫자를 입력하세요(범위:0~99)")

In [13]:
from random import *

print("업다운 게임")

b = randrange(1, 101)
min=0
max=99
for i in range(1,11,1):
    print('숫자를 입력하세요(범위:',min,'~',max,')',end='')
    a=int(input(":"))
    if a < b:
        print("아닙니다. 더 큰 숫자입니다!")
        min=a
    elif a > b:
        print("아닙니다. 더 작은 숫자입니다!")
        max=a
    elif a==b:
        print("정답입니다.{0}번 만에 맞추셨습니다.".format(str(i)))
        print("게임이 끝났습니다.")
        break
    if i==10:
        print("게임이 끝났습니다.")
        print("정답은 {0}입니다.".format(str(b)))

업다운 게임
숫자를 입력하세요(범위: 0 ~ 99 ):0
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 0 ~ 99 ):1
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 1 ~ 99 ):2
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 2 ~ 99 ):3
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 3 ~ 99 ):4
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 4 ~ 99 ):5
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 5 ~ 99 ):6
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 6 ~ 99 ):7
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 7 ~ 99 ):8
아닙니다. 더 큰 숫자입니다!
숫자를 입력하세요(범위: 8 ~ 99 ):9
아닙니다. 더 큰 숫자입니다!
게임이 끝났습니다.
정답은 76입니다.

# ~P2.3~ 
높이를 입력받아 다음과 같은 숫자 피라미드를 출력하는 다음 게임을 만들어보자. 먼저 숫자가 출력되는 규칙을 잘 찾아보라.
- 2중 루프를 사용한다. 바깥 루프는 세로를 나타내고 높이만큼 반복하면된다.
- 내부 루프는 한 줄에서의 위치를 나타낸다. 한 줄에서의 출력은 세 부분으로 나누어야 할 것이다. 맨 처음 공백을 적절히 출력한다. 다음으로 숫자가 증가하는 방향으로 출력하고, 마지막으로 감소하는 방향으로 숫자를 출력한다.

In [15]:
print("Fourth Number Pattern")
lastNumber = 9
for i in range(1, lastNumber):
    for j in range(lastNumber-i):
        print(' ', end=' ')
    for j in range(1,i):
        if(lastNumber>=6):   
            print(2**(j-1), end=' ')    
    for i in range(-1+i, -1, -1):
        print(format(2**i, "2d"), end=' ')
    print("")

Fourth Number Pattern
                 1
              1  2  1
            1 2  4  2  1
          1 2 4  8  4  2  1
        1 2 4 8 16  8  4  2  1
      1 2 4 8 16 32 16  8  4  2  1
    1 2 4 8 16 32 64 32 16  8  4  2  1
  1 2 4 8 16 32 64 128 64 32 16  8  4  2  1

In [20]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

Enter number of rows: 7
            1
          2 3 2
        3 4 5 4 3
      4 5 6 7 6 5 4
    5 6 7 8 9 8 7 6 5
  6 7 8 9 10 11 10 9 8 7 6
7 8 9 10 11 12 13 12 11 10 9 8 7

# ~P2.4~

In [30]:
class Bag():
    def __init__(self):
        self.items=[]
    
    def contains(self,e):
        return e in self.items
    
    def insert(self,e):
        self.items.append(e)
    
    def remove(self,e):
        self.items.remove(e)
    
    def count(self):
        return len(self.items)

In [31]:
myBag=Bag()

In [32]:
myBag.insert('휴대폰')
myBag.insert('지갑')
myBag.insert('손수건')
myBag.insert('빗')
myBag.insert('자료구조')
myBag.insert('야구공')
print('내 가방속의 물건:',myBag.items)

내 가방속의 물건: ['휴대폰', '지갑', '손수건', '빗', '자료구조', '야구공']

In [33]:
myBag.insert('빗')
myBag.remove('손수건')
print('내 가방속의 물건:',myBag.items)

내 가방속의 물건: ['휴대폰', '지갑', '빗', '자료구조', '야구공', '빗']